<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
  <link rel="stylesheet" href="admin-Menu_and_Header.css">

  <title>admin test 메뉴</title>
</head>
<body>
  <div id="container">
    <header>
      <div id="headerMiddle">
        <h1>Tutle-books 관리자 페이지</h1>
      </div>
      <div id="headerBtn">
        <input id="goToMallPage" class="button is-light" type="button" value="쇼핑몰 이동">
        <input id="logout" class="button is-light" type="button" value="로그아웃">
      </div>
    </header>
    <!-- <nav>
      <label for="selectAll">
        <input type="checkbox" id="selectAll">
        전체
      </label>
      <div id="search">
        <input id="searchbox" type="text">
        <input id="searchBtn" type="submit" value="검색">
      </div>
      <div id="btns">
        <button>등록</button>
        <button>삭제</button>
        <button>저장</button>
      </div>
    </nav> -->
    <aside id="menuWrap">
      <div>
        <button id="user-tap" class="tabButtons" data-tab="userContents">유저 관리</button>
      </div>
      <div>
        <button id="product-tap" class="tabButtons" data-tab="productContents">상품 관리</button>
        <button class="subMenu modal-button" data-modal-target="#productAdd">상품 등록</button>        
      </div>
      <div>
        <button id="category-tab" class="tabButtons" data-tab="categoryContents">카테고리 관리</button>
        <button class="subMenu modal-button" data-modal-target="#categoryAdd">카테고리 등록</button>
      </div>
      <div>
        <button id="oder-tap" class="tabButtons" data-tab="oderContents">주문/결제 관리</button>
      </div>

    </aside>

    <article>
      <div id="userContents" class="tabContents">
        <h2>유저 목록</h2>
        <table class="table is-bordered is-narrow is-fullwidth">
          <thead style="background-color: rgba(220, 220, 220, 0.303);">
            <tr>
              <th class="th"><button class="button is-small">삭제</button></th>
              <th class="th">아이디</th>
              <th class="th">이메일</th>
              <th class="th">이름</th>
              <th class="th">핸드폰</th>
              <th class="th">주소</th>
              <th class="th">비밀번호</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="btnTd"><input type="checkbox"></td>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
              <td>6</td>
              <td class="btnTd"><button class="button is-small">수정</button></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div id="productContents" class="tabContents">
        <h2>상품 목록</h2>
        <table class="table is-bordered is-narrow is-fullwidth">
          <thead style="background-color: rgba(220, 220, 220, 0.303);">
            <tr>
              <th class="th"><button class="button is-small">삭제</button></th>
              <th class="th">상품코드</th>
              <th class="th">카테고리</th>
              <th class="th">제목</th>
              <th class="th">작가</th>
              <th class="th">출판사</th>
              <th class="th">가격</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="btnTd"><input type="checkbox"></td>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
              <td>6</td>
              <td class="btnTd" class="td"><button class="button is-small">수정</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div id="categoryContents" class="tabContents">
        <h2>카테고리 목록</h2>
        <table class="table is-bordered is-narrow is-fullwidth">
          <thead style="background-color: rgba(220, 220, 220, 0.303);">
            <tr>
              <th class="th"><button class="button is-small">삭제</button></th>
              <th class="th">카테고리 명</th>
              <th class="th">timestamps</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="btnTd"><input type="checkbox"></td>
              <td>1</td>
              <td>2</td>
              <td class="btnTd"><button class="button is-small">수정</button></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div id="oderContents" class="tabContents">
        <h2>주문 목록</h2>
        <table class="table is-bordered is-narrow is-fullwidth">
          <thead style="background-color: rgba(220, 220, 220, 0.303);">
            <tr>
              <th class="th"><button class="button is-small">삭제</button></th>
              <th class="th">배송번호</th>
              <th class="th">아이디</th>
              <th class="th">이름</th>
              <th class="th">총 가격</th>
              <th class="th">주소</th>
              <th class="th">배송상태</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="btnTd"><input type="checkbox"></td>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
              <td>6</td>
              <td class="btnTd"><button class="button is-small">수정</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </article>

<div id="modals">
  <div id="productAdd" class="modal" class="modal-content">
      <button style="background-color: gainsboro;" class="modal-close is-large" aria-label="close"></button>
      <h2>상품 추가</h2>
      <p>제목 : <input type="text"></p>
      <p>작가 : <input type="text"></p>
      <p>발행처 : <input type="text"></p>
      <p>발행일 : <input type="text"></p>
      <p>책 소개 : <input type="text"></p>
      <p>가격 : <input type="text"></p>
      <p>topic : <select id="productType-tap">
        <option value=""> - </option>
        <option value="best"> Best </option>
        <option value="steady"> Steady </option>
        <option value="new"> New </option>
      </select></p>
      <p>
        category : <select id="productType-tap">
          <option value=""> - </option>
        </select>
      </p>
      <p>재고 : <input type="text"></p>
      <input type="submit">
    </div>
  <div id="categoryAdd" class="modal" class="card" class="modal-content">
      <button style="background-color: gainsboro;" class="modal-close is-large" aria-label="close"></button>
      <h2>카테고리 추가</h2>
      <p>이름 : <input type="text"></p>
      <p></p>
      <input type="submit">
    </div>
  </div>
</div>
<script src="admin.js"></script>
</body>
<footer></footer>

</html>
