<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
  <link rel="stylesheet" href="admin-Menu_and_Header.css">

  <title>admin test 메뉴</title>
</head>

<body>
  <div id="container">
    <header>
      <div id="headerMiddle">
        <h1>Tutle-books 관리자 페이지</h1>
      </div>
      <div id="headerBtn">
        <input id="goToMallPage" class="button is-light" type="button" value="쇼핑몰 이동">
        <input id="logout"  class="button is-light" type="button" value="로그아웃">
      </div>
    </header>
    <nav>
      <label for="selectAll">
        <input type="checkbox" id="selectAll">
        전체
      </label>
      <div id="search">
        <input id="searchbox" type="text">
        <input id="searchBtn" type="submit" value="검색">
      </div>
      <div id="btns">
        <button>등록</button>
        <button>삭제</button>
        <button>저장</button>
      </div>
    </nav>
    <aside id="menuWrap">
      <div>
        <button id="user-tap" class="tabButtons" data-tab="userContents">유저 관리</button>
      </div>
      <div>
        <button id="product-tap" class="tabButtons" data-tab="productContents">상품 관리</button>
        <div class="subMenu"><a href="">상품 등록</a></div> <!--모달 창이 보인 후 상품관리 페이지를 보여줌-->
      </div>
      <div>
        <button id="category-tab" class="tabButtons" data-tab="categoryContents">카테고리 관리</button>
        <div class="subMenu"><a href="">카테고리 등록</a></div>  
      </div>
      <div>
        <button id="oder-tap" class="tabButtons" data-tab="oderContents">주문/결제 관리</button>
      </div>
      
    </aside>

    <article>
      <div id="userContents" class="tabContents">
        <table class="table is-bordered is-narrow is-fullwidth">
          <thead style="background-color: rgba(220, 220, 220, 0.303);">
            <tr>
              <th class="th">아이디</th>
              <th class="th">이메일</th>
              <th class="th">이름</th>
              <th class="th">핸드폰</th>
              <th class="th">주소</th>
              <th class="th">비밀번호</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
              <td>6</td>
              <td class="btnTd"><button class="button is-small">수정</button></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div id="productContents" class="tabContents">
        <table class="table is-bordered is-narrow is-fullwidth">
          <thead style="background-color: rgba(220, 220, 220, 0.303);">
            <tr>
              <th class="th">상품코드</th>
              <th class="th">카테고리</th>
              <th class="th">제목</th>
              <th class="th">작가</th>
              <th class="th">출판사</th>
              <th class="th">가격</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
              <td>6</td>
              <td class="btnTd"><button class="button is-small">수정</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div id="categoryContents" class="tabContents">
        <table class="table is-bordered is-narrow is-fullwidth">
          <thead style="background-color: rgba(220, 220, 220, 0.303);">
            <tr>
              <th class="th">제목</th>
              <th class="th">timestamps</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>2</td>
              <td class="btnTd"><button class="button is-small">수정</button></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div id="oderContents" class="tabContents">
        <table class="table is-bordered is-narrow is-fullwidth">
          <thead style="background-color: rgba(220, 220, 220, 0.303);">
            <tr>
              <th class="th">배송번호</th>
              <th class="th">아이디</th>
              <th class="th">이름</th>
              <th class="th">총 가격</th>
              <th class="th">주소</th>
              <th class="th">배송상태</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
              <td>6</td>
              <td class="btnTd"><button class="button is-small">수정</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </article>
  </div>
  <script src="admin.js"></script>
</body>
<footer></footer>

</html>