html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.left {
  flex: 1;
  flex-direction: column;
  height: 90%;
  display: flex;
  align-items: center;
}

.right {
  flex: 1;
  flex-direction: column;
  height: 90%;
  display: flex;
  align-items: center;
}

.footer {
  height: 15%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
}

.footer button {
    padding: 3px 5px;
    font-size: 0.8rem;
    width: fit-content;
    height: fit-content;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;

}
/* 
.left {
    background-color: #ffcc99;
  }

  .right {
    background-color: #99ccff;
  } */

  .footer {
    background-color: #cccccc;
  }

  /* --- */
  .right-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 70%;
    margin-top: 5%;
  }
  
  .price {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    height: 20%;
    /* background-color: #f5f5f5; */
  }
  
  .price button {
    pointer-events: none;
    padding: 3px 5px;
    font-size: 0.8rem;
    width: fit-content;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
  }

  .price h1 {
    font-size: 30px;
  }
  
  .tags {
    display: flex;
    flex-direction: row; /*?*/
    align-items: center;
    justify-content: center;
    height: 20%;
    /* background-color: #eee; */
  }
  
  .tags ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  
  .tags li {
    margin: 0 10px;
    padding: 5px 10px;
    background-color: #ddd;
    border-radius: 5px;
  }
  
  .tags p {
    margin-top: 10px;
  }

  .tags a {
    display: inline; /*?*/
  }
  
  .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 50%; */
    /* background-color: #fff; */
    padding: 20px;
    overflow-y: auto;
  }
  
  .description h3 {
    margin-top: 0;
    
  }
  
  .description p {
    margin-top: 10px;
    line-height: 1.5;
  }
  
  /* 수량조절 컴포넌트 */
  .quantity-selector {
    display: flex;
    align-items: center;
  }
  
  .quantity-selector button {
    display: inline-block;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #eee;
    color: #333;
    cursor: pointer;
  }
  
  .quantity-selector button:hover {
    background-color: #ccc;
  }
  
  .quantity-selector .quantity-input {
    margin: 0 10px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 50px;
    text-align: center;
  }