<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="../common/Header/index.js" type="module"></script>
    <title>Document</title>
  </head>
  <body>
    <header>
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link" style="font-size: 20px"></a>

              <div class="navbar-dropdown">
                <!-- <a class="navbar-item"> 자기개발 </a>
                <a class="navbar-item"> 소설 </a>
                <a class="navbar-item"> 만화 </a> -->
              </div>
            </div>
            <div class="navbar-brand">
              <a
                class="navbar-item"
                href="/"
                style="padding-left: 0px; margin-top: 7px"
              >
                <img src="../../assets/logo1.png" width="60px" />
                Turtle Books
              </a>
              <a
                role="button"
                class="navbar-burger"
                aria-label="menu"
                aria-expanded="false"
                data-target="navbarBasicExample"
              >
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>
            <form class="search-form">
              <input
                class="input is-primary inputmargin"
                type="text"
                placeholder="찾으시는 도서명을 검색해보세요!"
              />
              <button type="submit">🔍</button>
            </form>
          </div>

          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons"></div>
            </div>
          </div>
        </div>
      </nav>
      <hr style="margin: 0px" />
    </header>
  </body>
</html>
