<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>주문 페이지</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link rel="stylesheet" href="order.css" />
    <script src="./order.js"></script>
  </head>
  <body>
    <!-- 공통 헤더 추가할 구역 -->

    <main class="section">
      <h2 class="title is-4" id="order-title">주문/결제</h2>
      <div class="card-content-wrap">
        <div class="card-content" id="order">
          <div class="columns">
            <div class="column">
              <!-- <h3 class="title is-5">배송지 정보</h3> -->
              <table class="table is-fullwidth">
                <tbody>
                  <tr>
                    <th><h3 class="order-title">배송지 정보</h3></th>
                    <td>
                      <div class="address-title">
                        📖 기본배송지를 등록해주세요.
                      </div>
                      <div>
                        <button
                          class="button is-link is-outlined"
                          id="address-btn"
                        >
                          🚛 배송지 입력
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <hr />
              <div>
                <a class="delivery-option">🔹 편의점 배송, 해외배송으로 받기</a>
              </div>
            </div>
          </div>
        </div>
        <div class="card-content" id="order">
          <div class="columns">
            <div class="column">
              <h3 class="order-title">주문상품</h3>
              <table class="table is-fullwidth">
                <thead>
                  <tr>
                    <th>상품 이름</th>
                    <th>수량</th>
                    <th>가격</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>책 A</td>
                    <td>1</td>
                    <td>10,000원</td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <th colspan="2">총 가격</th>
                    <td>10,000원</td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
        <div class="card" id="order">
          <div class="card-content">
            <div class="content">
              <p class="order-title">할인쿠폰</p>
              <div>할인쿠폰이 없습니다</div>
            </div>
          </div>
        </div>
      </div>
      <div class="payments-box">
        <div>
          <div class="box">
            <h1 class="title">결제 정보</h1>
            <p>상품금액 10,000원</p>
            <p>배송비 0원</p>
            <p>쿠폰할인 0원</p>
            <p>포인트 사용 0원</p>
            <hr />
            <p>최종결제금액 10,000원</p>
            <button class="button is-primary is-fullwidth" id="payments-btn">
              결제하기
            </button>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
