#order {
  border: 2px solid rgb(218, 218, 218);
  width: 80%;
  margin: 2rem auto;
  border-radius: 8px;
}

#address-btn {
  width: 100%;
  margin-top: 1rem;
}
#address-btn:hover {
  /* background-color: azure; */
}

hr {
  border: none;
  border-top: 3px dotted rgb(227, 227, 232);
  color: #fff;
  background-color: #fff;
  height: 1px;
  width: 100%;
}
