<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />  
    <link rel="stylesheet" href="index.css" />
    <script src="../common/loadHTML.js" type="text/javascript"></script>
    <script src="index.js" type="module"></script>
    <link rel="stylesheet" href="../common/Header/header.css" />
</head>
<body>
  <script>
    loadHTML("../common/Header/header.html");
  </script>

    <div class="buttonlist">
      <div class="buttonlist1">
        <button>베스트</button>
        <button>신상품</button>
        <button>스테디셀러</button>
      </div>
      <div class="buttonlist2">
        <button>소설</button>
        <button>자기개발</button>
        <button>만화</button>
        <button>학습서적</button>
        <button>전문서적</button>
        <button>경제/시사</button>
      </div>
    </div>

    <div class="seller-container">
      <h1>베스트셀러</h1>
      <div class="slider-container">
        <div class="slider-items">          
          <!-- 아이템 -->
        </div>
        <button class="prev-btn">&#8249;</button>
        <button class="next-btn">&#8250;</button>
      </div>
      

      <h1>신작</h1>
      <div class="sellers">
        <div class="arrow left-arrow">←</div>
        <div class="book">
          <img src="../assets/book1.jpg" alt="Book cover">
          <p class="category">Category</p>
          <p class="title">Book Title</p>
        </div>
        <div class="book">
          <img src="../assets/book1.jpg" alt="Book cover">
          <p class="category">Category</p>
          <p class="title">Book Title</p>
        </div>
        <div class="book">
          <img src="../assets/book1.jpg" alt="Book cover">
          <p class="category">Category</p>
          <p class="title">Book Title</p>
        </div>
        <div class="book">
          <img src="../assets/book1.jpg" alt="Book cover">
          <p class="category">Category</p>
          <p class="title">Book Title</p>
        </div>
        <div class="arrow right-arrow">→</div>
      </div>
      
    </div>
</body>
</html>