<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link rel="stylesheet" href="index.css" />
    <script src="../common/loadHTML.js" type="text/javascript"></script>
    <link rel="stylesheet" href="../common/Header/header.css" />
  </head>
  <body>
    <script>
      loadHTML("../../common/Header/header.html");
    </script>
    <div class="container">
      <div class="main">
        <div class="left">
          <div class="card" style="width:35%; margin-top: 5%; margin-right: -10%;">
            <div class="card-image" style="width:100%;">
              <img src="../assets/book1.jpg" alt="Placeholder image"/>
            </div>
            <div class="card-content" style="padding: 1.0rem;">
              <div class="media">
                <div class="media-content">
                  <p class="title is-6">브라질에 비가 내리면 스타벅스 주식을 사라</p>
                  <p class="subtitle is-7">피터 나바로</p>
                </div>
              </div>      
              <div class="content" style="font-size: small;">
                에프엔미디어
                <br />
                2022-04-25
              </div>
            </div>
          </div>
        </div>
        <div class="right">
          <div class="right-container">
            <div class="price">
              <div>
                <button>무료배송</button>
                <button>소득공제</button>
              </div>              
              <br>
              <h1><b>16,200원</b></h1>              
            </div>
            <div class="tags">
              <ul>
                <li>미디어 추천도서</li>
                <li>MD의 선택</li>
                <li>주간베스트</li>
              </ul>
              <div>
                <a>국내도서 > </a><a>경제/경영 > </a><a>재테크/금융 > </a><a>주식/증권 > </a><a>주식투자</a>
              </div>
            </div>
            <div class="description">
              <h3><b>Description</b></h3>
              <p>‘숲(경제 흐름)과 나무(종목)’를 함께 보라!
                전쟁, 전염병, 기후, 금리, 환율, 인플레이션…
                거시경제 지표를 이해하면 변동성은 기회다!</p>
              <p><b>Rating</b>: 4.5/5</p>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <p>총 상품 금액 : 32,400원</p>
        <div class="quantity-selector">
          <button class="quantity-minus">-</button>
          <input class="quantity-input" type="number" value="2" min="1">
          <button class="quantity-plus">+</button>
        </div>
        <button>바로구매</button>
        <button>장바구니</button>

      </div>
    </div>
  </body>
</html>
