<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="userSideMenu.css">
  <link rel="stylesheet" href="userInfo.css">
  <title>꼬북스 회원 정보</title>
</head>
<body>
  <header><h1>Header 자리 입니다.</h1></header>
  <nav></nav>
  <div id="container">
  <aside> <!--왼쪽 메뉴-->
    <div id="userProfile">
      <img id="userImg" src="userImg.png" alt="유저 이미지"> <!---->
      <p><span id="userName" style="font-weight: bold;">김모씨</span>님</p>
    </div>
    <p class="sideCtgy" src="">기본정보</p>
    <p class="sideCtgy" src="">비밀 번호 수정</p>
    <p class="sideCtgy" src=""> 배송지 수정</p>
    <p class="sideCtgy" src="">주문내역</p>
    <p class="sideCtgy" src="">배송조회</p>
  </aside>

  <article>
  <img src="userImg.png" alt="유저 이미지">
<p>이름 : </p>
<p>생년월일 :</p>
<p>핸드폰 번호 :</p><input type="button" value="수정하기">
<p>이메일 : </p> <input type="button" value="수정하기">
<p>주소 :</p>
  </article>
</div>
  <footer></footer>
</body>
</html>